<div style="margin-top: 20px;">
<a href="#"><img src="/assets/laptop/laptop3.jpg"></a>
<a href="#"><img src="/assets/tv/tv.jpg"></a>
<a href="#"><img src="/assets/mobile/mobile1.jpg"></a>
<a href="#"><img src="/assets/laptop/laptop1.jfif"></a>

<a href="#"><img src="/assets/mobile/mobile23jpg.jpg"></a>
<a href="#"><img src="/assets/laptop/laptop5.png"></a>
<a href="#"><img src="/assets/mobile/mobile2.jpg"></a>
<a href="#"><img src="/assets/tv/tv2.jpg"></a>

<a href="#"><img src="/assets/refrigerator/refrigerator1.jpg"></a>
<a href="#"><img src="/assets/refrigerator/refrigerator3.jpg"></a>
<a href="#"><img src="/assets/tv/tv1.webp"></a>
<a href="#"><img src="/assets/laptop/laptop4.jpeg"></a>

<a href="#"><img src="/assets/mobile/mobile4.jfif"></a>
<a href="#"><img src="/assets/refrigerator/refrigerator4.jpg"></a>
<a href="#"><img src="/assets/tv/tv4.jpg"></a>
</div>