form {
    border: 1px solid green;
    padding: 15px;
    margin-top: 40px;
    /* text-align: center; */
    background-color: lightgrey;
}

h2 {
    text-align: center;
    /* background-color: cornsilk; */
}

.heading {
    background-color:skyblue;
    height: 70px;
    align-self: center;
    padding-top: 10px ;
}

.text-center {
    display: block;
    margin: auto;
}