<hr>
<h2><b>Update Your Personal Details Here!!!</b></h2>
<hr>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="userId" #userId="ngModel" [(ngModel)]="formDetail.userId">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label>*UserName</label>
                <input name="userName" #userName="ngModel" [class.is-invalid]="userName.invalid && userName.touched" [(ngModel)]="formDetail.userName"  
                class="form-control"  required>
                <div class="text-danger" *ngIf="!userName.valid && userName.touched ">Username is Required</div>
            </div>             
            <div class="form-group">
                <label>*Email</label>
                <input name="email" #email="ngModel" [(ngModel)]="formDetail.email"  class="form-control"  [class.is-invalid]="email.invalid && email.touched" required >
                <div class="text-danger" *ngIf="!email.valid && email.touched ">Email is Required</div>
            </div>
            <div class="form-group">
                <label>*Phone</label>
                <input name="phoneNo" pattern="^\d{10}$" #phoneNo="ngModel" [class.is-invalid]="phoneNo.invalid && phoneNo.touched" [(ngModel)]="formDetail.phoneNo"  class="form-control"   required >
                <div *ngIf="phoneNo.errors && (phoneNo.invalid || phoneNo.touched)">
                    <p class="text-danger" *ngIf="phoneNo.errors.required">Phone number is required</p>
                    <p class="text-danger" *ngIf="phoneNo.errors.pattern" >Phone number must be 10 digits</p>
                </div>
            </div>
            <div class="form-group">
                <label>*Address</label>
                <input name="address" #address="ngModel" [class.is-invalid]="address.invalid && address.touched" [(ngModel)]="formDetail.address"  class="form-control"   required >
                <div class="text-danger" *ngIf="!address.valid && address.touched ">Address is Required</div>
            </div>
            <div class="form-group">
                <label>*Pincode</label>
                <input name="pincode" pattern="^\d{6}$" #pincode="ngModel" [class.is-invalid]="pincode.invalid && pincode.touched" [(ngModel)]="formDetail.pincode"  class="form-control"   required >
                <div *ngIf="pincode.errors && (pincode.invalid || pincode.touched)">
                    <p class="text-danger" *ngIf="pincode.errors.required">Pincode number is required</p>
                    <p class="text-danger" *ngIf="pincode.errors.pattern">Pincode number must be 6 digits</p>
                </div>

            </div>
            <hr>
            <h4><i><b>* marked fields are mandatory!!!</b></i></h4>
            <div class="form-group text-center">
                <button  class="btn btn-dark" [disabled]="form.invalid">Submit</button>
            </div>    
    </div>
   
</div>
</form>
