<div class="container">
    <div class="jumbotron" style="margin-top: 50px;">
           <h2 style="padding-left: 350px;"> Add Category of Products</h2>
   
    <form [formGroup]="categoryForm" class="form-container">
        <div class="form-group form-row">
            <input type="number" class="form-control" [readOnly]="isEdit" placeholder="Category ID" name="categoryID" formControlName="CategoryID">
            <span class="text-danger" *ngIf="categoryForm.get('CategoryID').invalid && categoryForm.get('CategoryID').touched && categoryForm.get('CategoryID').errors.required">Category ID can't be blank</span>
            <span class="text-danger" *ngIf="categoryForm.get('CategoryID').invalid && categoryForm.get('CategoryID').touched && categoryForm.get('CategoryID').errors.pattern">Category Id can be 4s only.</span>
        </div>
        <div class="form-group form-row">
            <input type="text" class="form-control" placeholder="Category Name" name="categoryName" formControlName="CategoryName">
            <span class="text-danger" *ngIf="categoryForm.get('CategoryName').invalid && categoryForm.get('CategoryName').touched && categoryForm.get('CategoryName').errors.required">Category Name can't be blank</span>
            <span class="text-danger" *ngIf="categoryForm.get('CategoryName').invalid && categoryForm.get('CategoryName').touched && categoryForm.get('CategoryName').errors.pattern">Category Name can be strings only.</span>
        </div>
        <span>
        <button [disabled]="categoryForm.invalid" class="btn btn-success" *ngIf="!isEdit" (click)="onAddClick()">Add Category</button>&nbsp;
        <button class="btn btn-success" *ngIf="isEdit" (click)="onUpdateClick()">Update Category</button>&nbsp;
        <button class="btn btn-success" type="reset">Reset</button>
        </span>

    </form>
</div>

    <table class="table">
    
        <tr class="btn-primary">
            <th>Category Id</th>
            <th>Category Name</th>
            <th> Edit</th>
            <th> Delete</th> 
        </tr>    
      
        <tr *ngFor="let cat of categories">
            <td>{{cat.categoryId}}</td>
            <td>{{cat.categoryName}}</td>            
            <td><button type="button" class="btn btn-info" [disabled]="isEdit" (click)="onEditClick(cat)">Edit</button></td>
            <td><button type="button" class="btn btn-info"   (click)="onRemoveClick(cat)">Delete</button></td>
        </tr>


    </table>
</div>

